@model IEnumerable<Pogodynka.Models.Pogoda>

@{
    ViewBag.Title = "Admin";
}

<h2>Dane pogodowe</h2>

<p>
    @Html.ActionLink("Dodaj prognozę", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CityId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityId)
            </td>
            <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Szczegóły", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Kasuj", "Delete", new { id=item.ID })
                </td>
        </tr>
    }

</table>
